{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% load humanize %}
{% load static %}

{% block content %}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We Search For The Perfect Accomodation</h2>
          <p class="lead">When you’re ready for a change, we’re ready to help.</p>
          <img src="{% static 'img/about.jpg' %}" alt="">
          <p class="mt-4">Accomodation for students.</p>
        </div>
        <div class="col-md-4">
          <!-- Check if mvp  realtor exists -->
          {% if mvp_realtors %}
          <!-- Loop through mvp -->
            {% for realtor in mvp_realtors %}
              <div class="card">
                <img class="card-img-top" src="{{ realtor.image.url }}" alt="Seller of the month">
                <div class="card-body">
                  <h5 class="card-title">Seller Of The Month</h5>
                  <h6 class="text-secondary">{{ realtor.name }}</h6>
                  <p class="card-text">{{ realtor.description }}
                  </p>
                </div>
              </div>
          	{% endfor %}
          {% endif %}
    </div>
    </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For Students</h2>
    <h4>List Your Current Accomodation to Help Your Friends Out There!</h4>
    <hr>
    <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team - Pruthviraj Bhamare</h2>
      <div class="row text-center">

      <!-- Check if realtors exist -->
      {% if realtors %}

      <!-- Loop through realtors -->
      {% for realtor in realtors %}
        <div class="col-md-4">
          <img src="{{realtor.image.url}}" alt="" class="rounded-circle mb-3">
          <h4>{{realtor.name}}</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i> Realtor</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> {{realtor.phone}}</p>
          <p>
            <i class="fas fa-envelope-open"></i> {{realtor.email}}</p>
        </div>
      {% endfor %}

      <!-- If accomadation don't exist -->
      {% else %}
        <div class="col-md-12">
          <p>No Accomodation Found!</p>
        </div>
      {% endif %}
    </div>
      </div>
    </div>
  </section>

{% endblock %}